@use '../abstracts/variables' as vars;

.campaign-card {
  background-color: vars.$secondary-color; // Black background
  padding: vars.$spacing-medium;
  margin-bottom: vars.$spacing-medium;
  border-radius: vars.$border-radius;
  box-shadow: vars.$box-shadow; // White shadow
  border: 1px solid vars.$text-color; // White border
  color: vars.$text-color; // White text

  &__title {
    font-size: vars.$font-size-large;
    font-weight: bold;
    color: vars.$primary-color; // Yellow for headings
    margin-bottom: vars.$spacing-small;
  }

  &__faction,
  &__health,
  &__players,
  &__biome,
  &__status,
  &__expire {
    font-size: vars.$font-size-medium;
    margin-bottom: vars.$spacing-small;
    color: vars.$text-color; // White text
  }
}

.campaign-container  {
    h2 {
      color: vars.$primary-color; // Yellow headings
    }
}