.planet-card {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem; // Add consistent spacing between cards
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out; // Smooth opacity transition
  position: relative; // Ensure cards are positioned relative to avoid stacking issues

  .health {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.2rem 0.5rem;
    background-color: $primary-color;
    color: white;
    border-radius: 4px;
  }

  &:hover {
    transform: scale(1.02);
    border-color: #aaa;
  }

  img {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }

  .card-body {
    padding: 1rem;
    font-size: 0.95rem;
  }

  &__image {
    height: 200px;
    object-fit: cover;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__players,
  &__biome,
  &__env,
  &__progress {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  &__progress {
    background-color: #e9ecef;
    padding: 0.5rem;
    border-radius: 4px;
  }
}