@use '../abstracts/variables' as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: vars.$font-stack;
  background-color: vars.$secondary-color; // Black background
  color: vars.$text-color; // White text
}

#root,
html {
  background: vars.$main-background;
}
